doctype html
html(lang='ja', ng-app='app')
    head
title
    | football-hour
body
    script(src="renderer/main.js")
    script.
      var chokidar = require('chokidar');
      var watcher  = chokidar.watch('../', {ignored: /[\\/\\]\./});
      watcher.on('all', function(event, path) {
        if (window.location)
          window.location.reload();
      });
