doctype html
html(lang='ja', ng-app='app')
    head
title
    | football-hour
body
    script(src="../renderer/main.js")
    script.
      remote = require('remote');
      chokidar = require("chokidar")
       chokidar.watch("../", { ignored: /[\/\\]\./ }).on('change', function(event, path) {
          return remote.getCurrentWindow().reload();
      });
